
*{
    margin: 5px;
    padding: 0px;
}

h1 {
    font: bold 20px tahoma;
    padding: 1%;
    text-align: center;
}

header, section, footer, aside, nav, article, hgroup {
    display: block;
}

body {
    text-align: center;
    width: 100%; /* specify the width (in order to use flex) */
    display:-webkit-box; /* allows for the parent box(body) to 
    take in flexible child boxes  */
    -webkit-box-pack: center; /* arranges all child flex boxes */    
}

.mainBody {
    max-width: 1000px;  /* sets the max width of the body */
    margin: 10px auto;
    
    display:-webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-flex: 1;
    
}

.header {
    background:whitesmoke;
    border: 1px solid black;
    -webkit-border-radius: 1px;
    text-shadow: 2px 0px 2px grey;
    -webkit-box-shadow: 0px 0px 2px grey;

}

.nav {
    background: whitesmoke;
    padding: 3px;
    text-align: center;
    -webkit-box-shadow: 0px 0px 2px grey;

}

.nav li {
    color: black;
    display: inline;
    list-style: none;
    padding: 85px;
    font: bold 14px tahoma;    
}

.mainSection {
    float: center;
    width: 975px;
    margin: 5px; /* 730 Total area section, 270px left */
}

.articleMainSection {
    float: center; 
}
.uolAboutMe {
    font-style: italic;
}

.skill {
    text-align: center;
    clear: both;
    padding: 1px;
    text-shadow: 0px 0px 1px grey;

}


.footer {
    clear: both;
    text-align: center;
    margin: 10px;
    padding: 5px;
    border-top: 2px solid gainsboro;
}

.line {
    clear: both;
    margin: 50px;
    padding: 10px;
    border-top: 1px solid gainsboro;
}

